.admin.com_gx2cms .header,
.admin.com_gx2cms .btn-subhead,
.admin.com_gx2cms .subhead-collapse {
    display: none !important;
}
.icon-gx2cms {
    background-image: url(../images/icon.png);
}
.width-300 {
    width: 300px;
}